map_predictions_interactive_global_files
map_predictions_interactive_baseline_files
map_predictions_interactive_remove_us_files
map_predictions_interactive_remove_outbound_tourism_files
map_predictions_interactive_remove_livestock_biomass_files
map_predictions_interactive_files
archive_20201204/*