map_predictions_interactive_v1_complete_only_files
map_predictions_interactive_v2_human_or_animal_files
map_predictions_interactive_v3_countries_in_range_gdp_files
map_predictions_interactive_v3.1_us_removed_files
map_predictions_interactive_v3.2_livestock_biomass_included_files
map_predictions_interactive_v3.3_first_global_emergence_files
map_predictions_interactive_v4_full_impute_files
archive/*
*.html